{% extends 'base.html' %}

{% block content %}
<!-- <div hx-target="this" hx-swap="outerHTML"> -->
<!-- 	<div><label>First Name</label>: Joe</div> -->
<!-- 	<div><label>Last Name</label>: Blow</div> -->
<!-- 	<div><label>Email</label>: joe@blow.com</div> -->
<!-- 	<button hx-get="/contact/1/edit" class="btn btn-primary"> -->
<!-- 	Click To Edit -->
<!-- 	</button> -->
<!-- </div> -->

<img hx-get="/dmvis" hx-trigger="every 20ms" hx-target="this" hx-swap="outerHTML" src="data:image/png;base64,{{ data }}" />
<button hx-get="/dmvisdebug" hx-target="this" hx-swap="outerHTML" class="btn btn-primary">Click for debug msgs</button>

<!-- <img id="dmplot"></img> -->


{% endblock content %}
